<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pcs">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/pcspd"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/pcspd_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".DNewPinChange"
            android:exported="false" />
        <activity
            android:name=".DSetNewPincode"
            android:exported="false" />
        <activity
            android:name=".DFPassActivity"
            android:exported="false" />
        <activity
            android:name=".VerifyOTP2"
            android:exported="false" />
        <activity
            android:name=".DRegis3Activity"
            android:exported="false" />
        <activity
            android:name=".DRegis2Activity"
            android:exported="false" />
        <activity
            android:name=".DRegisActivity"
            android:exported="false" />
        <activity
            android:name=".PNewPassChange"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PSetNewPassword"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VerifyOTP"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PRegis3Activity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PRegis2Activity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Main2Activity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainDoctorActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PRegisActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PFPassActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LanguagePage"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>